.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  margin: 4px;
  border-radius: 6px;
  border: 1px solid white;
  background: oklch(0.511 0.262 276.966);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
