.container {
  display: flex;
  margin-left: 100px;
  justify-content: start;
  align-items: start;
  height: 100%;
  width: 100%;
  padding: 18px;
  gap: 40px;
  .inputSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .outputSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
