.Content {
  border-radius: 4px;
  padding: 20px;
  width: 260px;
  background-color: white;
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  &:focus {
    box-shadow:
      hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
      hsl(206 22% 7% / 20%) 0px 10px 20px -15px,
      0 0 0 2px indigo;
  }
  &[data-state='open'][data-side='top'] {
    animation-name: slideDownAndFade;
  }
  &[data-state='open'][data-side='right'] {
    animation-name: slideLeftAndFade;
  }
  &[data-state='open'][data-side='bottom'] {
    animation-name: slideUpAndFade;
  }
  &[data-state='open'][data-side='left'] {
    animation-name: slideRightAndFade;
  }
}

.Arrow {
  fill: white;
}

.Close {
  all: unset;
  font-family: inherit;
  border-radius: 100%;
  height: 45px;
  width: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
  position: absolute;
  top: 5px;
  right: 5px;
  &:hover {
    background-color: grey;
  }
  &:focus {
    box-shadow: 0 0 0 2px black;
  }
}
.Trigger {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.IconButton {
  all: unset;
  font-family: inherit;
  border-radius: 100%;
  margin-right: 12px;
  height: 35px;
  width: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;
  box-shadow: 0 2px 5px black;
  &:hover {
    background-color: var(--violet-3);
  }
  &:focus {
    box-shadow: 0 0 0 2px black;
  }
}

.Fieldset {
  all: unset;
  display: flex;
  gap: 10px;
  align-items: center;
}

.Label {
  font-size: 13px;
  color: indigo;
  width: 75px;
}

.Input {
  all: unset;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 13px;
  line-height: 1;
  color: black;
  box-shadow: 0 0 0 1px black;
  height: 25px;
  &:focus {
    box-shadow: 0 0 0 2px black;
  }
}

.Text {
  margin: 0;
  color: grey;
  font-size: 15px;
  line-height: 19px;
  font-weight: 500;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
